.gallery {
  z-index: -1;
  display: grid;
  height: auto;
  margin-left: 2.5em;
  margin-right: 2.5em;
  grid-template-columns: repeat(auto-fill, minmax(max(11em, 100%/4.5), 1fr));
  grid-auto-rows: minmax(5em, 1fr);
  grid-gap: 1.25em;
  grid-auto-flow: dense;
}

.wide {
  grid-column: span 2;
}

.frame {
  overflow: hidden;
  position: relative;
  background-color: var(--bg);
  border: .25em solid var(--fg);
}


.frame img {
  width: 100%;
  height: 100%;
  transition: var(--h);
  transform: scale(1.02);
  object-fit: cover;
}

.frame:hover img {
  transition: var(--h);
  transform: scale(1.15);
}

.label {
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: var(--h);
  position: absolute;
  pointer-events: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--bgtrans);
}

.frame:hover .label {
  visibility: visible;
  opacity: 1;
  transition: var(--h);
  pointer-events: all;
}

@media only screen and (max-width: 600px) {
  .frame {
    grid-column: span 1;
    grid-row: span 1;
  }
}