.gallery {
  z-index: -1;
  display: grid;
  height: auto;
  margin-right: 2.5em;
  margin-left: 2.5em;
  grid-template-columns: repeat(auto-fill, minmax(max(11em, 100%/4.5), 1fr));
  grid-auto-rows: minmax(5em, 1fr);
  grid-gap: 1.25em;
  grid-auto-flow: dense;
}

.wide {
  grid-column: span 2;
}

.frame {
  overflow: hidden;
  position: relative;
  background-color: var(--bg);
  border: .2em solid rgb(20, 20, 20);
}

.frame img {
  width: 100%;
  height: 100%;
  transition: var(--h);
  transform: scale(1.05);
  object-fit: cover;
  opacity: 1;
}

.frame:hover img {
  filter: contrast(500%)  blur(10px);
  transition: var(--h);
  transform: scale(1.10);
  opacity: 0.3;
}


.label {
  display: block;
  opacity: 0;
  transition: var(--h);
  position: absolute;
  pointer-events: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 2em;
}

.frame:hover .label {
  opacity: 1;
  transition: var(--h);
  pointer-events: all;
}

@media only screen and (max-width: 600px) {
  .frame {
    grid-column: span 1;
    grid-row: span 1;
  }
}
