.gallery {
  z-index: -1;
  display: grid;
  height: auto;
  margin-right: 2.5em;
  margin-left: 2.5em;
  grid-template-columns: repeat(auto-fit, minmax(11em, 1fr));
  grid-auto-rows: minmax(5em, 1fr);
  grid-gap: 1.25em;
  grid-auto-flow: dense;
}

.frame {
  overflow: hidden;
}

.frame img {
  width: 100%;
  height: 100%;
  transition: var(--h);
  transform: scale(1.05);
  object-fit: cover;
}

.frame:hover img {
  transition: var(--h);
  transform: scale(1.01);
}

.label {
  display: none;
  padding: 2em;
  transition: all .2s ease;
  background: var(--bg);
  font-weight: bold;
  position: absolute;
}

.frame:hover .label {
  display: block;
  transition: all .2s ease;
}

.label:hover {
  transform: scale(1.05);
}

.wide {
  grid-column: span 2;
}

@media only screen and (max-width: 500px) {
  .frame {
    grid-column: span 1;
    grid-row: span 1;
  }
}
