:root {
  --bg: rgb(250, 250, 250);
  --fg: rgb(10, 10, 10);
  --fgmax: rgb(0, 0, 0);
  --bgtrans: rgb(255, 255, 255, 0.9);
  font-size: calc(1em + 1vmin);
  font-family: 'Roboto', sans-serif;
  --s: all .5s ease;
  --h: all .2s ease;
  --e: opacity .5s ease;
  --r: opacity .2s ease;
  --glow: 0 0 8px rgb(255, 255, 255, 0.3);
}

* {
  margin: 0;
  padding: 0;

}

body {
  background: var(--bg);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.txt {
  font-size: .8em;
  text-align: center;
  text-decoration: none;
  color: var(--fg);
  font-weight: bold;
}

.txt2 {
  font-size: .75em;
  text-align: center;
  text-decoration: none;
  color: var(--fg);
}

.box {
  z-index: 1;
  position: relative;
  margin-right: 2.5em;
  margin-left: 2.5em;
}

.icon {
  height: 1.7em;
  width: 1.7em;
  fill: var(--fg);
  transition: var(--h);
}

.logo {
  fill: var(--fg);
}
