:root {
  --bg: rgb(253, 253, 253);
  --fg: rgb(10, 10, 10);
  --bgtrans: rgb(255, 255, 255, 0.9);
  font-size: calc(1rem + 1vmin);
  --s: all .5s ease;
  --h: all .2s ease;
  --gray:rgb(190,190,190);
  --white:rgb(255,255,255);
  --block:3rem;
}

* {
  margin: 0;
  padding: 0;

}

body {
  background: var(--bg);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.txt {
  font-size: .9rem;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  text-decoration: none;
  color: var(--fg);
  font-weight: 400;
}

.toptext {
  font-size: .8rem;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  text-decoration: none;
  color: var(--fg);
  font-weight: 400;
  margin-left:1rem;margin-right:1rem;
}

.labeltitle {
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  text-decoration: none;
  color: var(--fg);
  font-weight: 700;
  margin-left:1rem;margin-right:1rem;
}

.labeldesc {
  font-size: .8rem;
  text-align: center;
  text-decoration: none;
  color: var(--fg);
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  margin-left:1rem;margin-right:1rem;
}

.box {
  z-index: 1;
  position: relative;
  margin-right: var(--block);
  margin-left: var(--block);
}

.icon {
  height: 1.6rem;
  width: auto;
  fill: var(--fg);
  transition: var(--h);
}


.logo {
  fill: var(--fg);
}

.button-34 {
  background: var(--fg);
  border-radius: 999px;
  border: 0;
  box-shadow: var(--fg) 0 5px 15px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
  font-size: .6em;
  font-weight: 700;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 0 1rem;
  height: 2.2rem;
  width: fit-content;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  word-break: break-word;
  transition: var(--h);
}

.button-34:hover {
  padding: 0 2.2em;
  transition: var(--h);
}
