.btn {
  z-index: 8;
  width: var(--block);
  height: var(--block);
  cursor: pointer;
  border: none;
  transition: var(--s);
}

#mnubtn {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 8;
  transform: translateX(-2.15rem);
  transition: var(--h);
}

#mnu:checked~#mnubtn #ham {
  transition: var(--s);
  transform: rotate(180deg);
  fill: transparent;
}

#closebtn {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 8;
  transform: translateX(-2.15em);
  transition: var(--h);
}

#cross {
  transition: var(--s);
  fill: var(--gray);
}

#mnu:checked~#overlaymenu #closebtn #cross {
  transition: var(--s);
  transform: rotate(180deg);
}

#mnu:checked~#overlaymenu #closebtn:hover #cross {
  transition: var(--s);
  fill: var(--white);
}

#topbtn {
  position: fixed;
  right: 0;
  bottom: 0;
  transform: translateY(var(--block));
  z-index: 8;
}

#overlaymenu {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: -99;
  width: 100%;
  height: 120%;
  position: fixed;
  transform: translateZ(0);
  background-color: rgb(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  transition: opacity .2s ease, z-index 3s ease-out;
}


#mnu:checked~#overlaymenu {
  opacity: 1;
  z-index: 9;
  transition: opacity .2s ease;
}

.menulist {
  z-index: -1;
  margin-top: -20%;
  display: grid;
  overflow: visible;
  width: auto;
  height: 9rem;
  transition: var(--s);
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(1, auto);
  grid-auto-rows: repeat(5, 3rem);
  grid-gap: 0;
  grid-auto-flow: dense;
}

.menulink {
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: var(--gray);
  transition: var(--s);
  cursor: pointer;
}

.menulink:hover {
  transition: var(--s);
  color: white;
}